{% extends 'base.html.twig' %}

{% block title %}Boat index{% endblock %}

{% block body %}
    <h1>Boat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Model</th>
                <th>Port</th>
                <th>Price</th>
                <th>Disponibility</th>
                <th>Description</th>
                <th>CreateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for boat in boats %}
            <tr>
                <td>{{ boat.id }}</td>
                <td>{{ boat.name }}</td>
                <td>{{ boat.Model }}</td>
                <td>{{ boat.port }}</td>
                <td>{{ boat.price }}</td>
                <td>{{ boat.disponibility ? 'Yes' : 'No' }}</td>
                <td>{{ boat.description }}</td>
                <td>{{ boat.createAt ? boat.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_boat_show', {'id': boat.id}) }}">show</a>
                    <a href="{{ path('app_boat_edit', {'id': boat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_boat_new') }}">Create new</a>
{% endblock %}
